<ion-header>
  <ion-toolbar>
    <ion-title>Informazione </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="white" text="Home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="text" *ngIf="!controlloAppendice"> 
<h1> Informazione Copper App</h1>
<p >Ti stiamo invitando a compilare questo diario che ci aiuterà ad avere più informazioni sul dolore 
  dopo l'intervento di correzione del Pectus a cui sei stato sottoposto. <br>
  Ricorda che nonostante tu abbia deciso di partecipare a questo studio potrai interrompere lo studio 
  in qualsiasi momento, senza doverti giustificare. Se non desidererai più partecipare o se ti ritirerai 
  dallo studio in qualsiasi momento, continuerai a essere curato dal tuo dottore come prima dell’inizio 
  dello studio. <br>
  È importante che tu sia preciso nel compilare questo libricino, i primi 14 giorni dovrai impegnarti a 
  compilarlo giornalmente. Durante il ricovero sarai aiutato dal personale sanitario che ti spiegherà 
  come fare, dopo lo farai in maniera autonoma. In qualsiasi momento potrai contattarci per avere 
  informazioni al numero <span class="telephoneNum"> 3316983096 </span> <br> <br>
  Qui facciamo un piccolo promemoria su come compilarlo quando sarai a casa. <br>
  In APPENDICE troverai la spiegazione di 4 scale con cui dovrai interfacciarti per compilare questo 
  diario. <br> Segui le informazioni che ti vengono fornite.<br><br>
  Per i primi 13 giorni, alla fine di ogni giornata, dovrai compilare le schede numerate dal giorno 1 al 
  giorno 13, suddivise in più punti. </p>
  <ol tyle="1"> 
 <li> Data  </li>
 <li>Score del dolore “NRS”. Devi riportare, su una scala da 0 a 10, il dolore più forte provato 
  nel corso della giornata. Va sempre compilato la sera, alla fine della tua giornata (vedi 
  appendice) </li> 
  <li>Frequenza del dolore. Devi riportare quanti episodi di dolore hai avuto nel corso della 
  giornata. (compilare la sera)  </li> 
  <li>  Durata del dolore. Devi riportare quanto è durato in media il dolore provato nel corso della 
  giornata. Se hai avuto più episodi di dolore somma la durata dei singoli episodi. (compilare 
  la sera) </li>
  <li>Analgesia ospedaliera. Questo punto andrà compilato solo fino a quando sarai ricoverato in 
  ospedale e sarà compito del personale sanitario. A casa dovrai crocettare “non compilare se 
  paziente dimesso”. </li>
  <li>Analgesia fissa ad orari. Dovrai spuntare sì se hai assunto la terapia del dolore fissa ad orari 
  come indicato alla dimissione. Se invece non hai seguito le nostre indicazioni perché avevi 
  poco dolore e hai deciso di non assumere alcune dosi dovrai spuntare no.  </li>
  <li>Analgesia al bisogno (non prescritta ad orari). Dovrai spuntare sì se, per controllare il 
  dolore, hai avuto bisogno di prendere più farmaci rispetto a quelli fissi ad orario. In questo 
  caso indica le dosi “in più” che hai preso durante la giornata. Spunta sì anche se hai segnato 
  no al punto 6, ma hai comunque preso qualche antidolorifico. In questo caso indica le dosi di 
  antidolorifico assunto.  </li>
  <li>Effetti collaterali. Hai avuto qualche effetto collaterale legato all’assunzione dei farmaci? 
  Nausea o vomito? Se hai avuti altri effetti collaterali puoi riportarli in “altro”. </li>
  <li>YAPFAQ. Questa è una scala che serve per capire quanto fai fatica a compiere alcune 
  attività quotidiane. Ogni giorno dovrai fare la somma di tutti i punteggi assegnati a ciascun 
  punto. (vedi appendice) </li>
  <li>Valutazione fisioterapica. Qui riporterai il valore che ti dà la macchinetta che ti abbiamo 
  fornito alla dimissione. Dovrai poi dirci in ogni giornata cosa sei riuscito a fare (sei stato 
  seduto?, seduto con mani dietro la nuca?, hai camminato?, sei riuscito a fare uno squat?) </li>
 
</ol>
  <br>

<p> Il 14° giorno dovrai compilare una tabella leggermente diversa. Qui ti 
spieghiamo come fare: </p>
<ol type="1"> 
  <li> Score del dolore “NRS”. Devi riportare, su una scala da 0 a 10, il dolore più forte provato 
nel corso dell’ultima settimana. <br>
Frequenza del dolore. Devi riportare quanti episodi di dolore hai avuto durante l’ultima 
settimana <br>
Durata del dolore. Devi riportare quanto è durato il dolore nell’arco della giornata 
nell’ultima settimana</li>
<li>PedsQL. È una scala in cui viene valutata la qualità di vita attraverso una lista di attività che 
potrebbero rappresentare un problema per te. Per favore, dicci quanto queste attività possano 
aver rappresentato un problema durante l’ultima settimana. Riporta la somma dei singoli 
punteggi. (vedi appendice)  </li>
<li>CALI 9. Questa scala è finalizzata a valutare quanto sia stato facile/difficile compiere alcune 
azioni/compiti durante l’ultima settimana. Riporta la somma dei singoli punteggi. (vedi 
appendice)  </li>
<li>YAPFAQ. Questa è una scala che serve per capire quanto fai fatica a compiere alcune 
attività quotidiane. Segna il punteggio del 14° giorno. (vedi appendice)  </li>
<li>Commenti. Qui puoi annotare qualsiasi cosa tu voglia comunicarci che pensi possa essere 
rilevante </li>
</ol>
<p> La stessa scheda ti verrà riproposta il 30°, il 60°, il 90°, il 120°, il 150° e il 
  180° giorno. Ricorda che nel compilare le scale PedsQL, CALI 9 e YAPFAQ dovrai fare 
  riferimento alle ultime 4 settimane.</p>

  <h3> Contatto per ulteriori informazioni</h3>
  <p>Se hai domande da porre circa la tua partecipazione allo studio, puoi contattare i coordinatori 
    dello studio Dr. Disma e Dr. Torre al seguente numero di telefono:<span class="telephoneNum">3316983096 </span> </p>
    <button (click)="appendice()" class="buttonBack"> Appendice </button>
  </div>

  <div *ngIf="controlloAppendice" class="text"> 
 <h1> Appendice </h1>
    
 <ion-segment [(ngModel)]="controlloTabs">
  <ion-segment-button value="nrs">
    <ion-label>NRS</ion-label>
  </ion-segment-button>
  <ion-segment-button value="pedsql"> 
    <ion-label >PedsQL</ion-label>
  </ion-segment-button>
  <ion-segment-button value="cali">
    <ion-label >Cali</ion-label>
  </ion-segment-button>
  <ion-segment-button value="yapfaq">
    <ion-label >YAPFAQ</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-button (click)="indietro()"> Indietro </ion-button>
    <div *ngIf="controlloTabs === 'nrs'"> 
      <h3> NRS</h3>
      <p>Ti presentiamo qui sotto una scala per valutare quanto dolore provi in un determinato 
      momento. <br> Devi indicare una numero da 0 a 10: 0 corrisponde a nessun dolore e 10 è il 
      massimo dolore provato nella tua vita. Devi indicare il peggior dolore (quindi il punteggio 
      più alto) provato nell’arco della giornata.
      </p>      
    </div>

    <div *ngIf="controlloTabs=== 'pedsql'">
      <h3> PedsQL</h3> 
     <p> 
      Ti presentiamo una lista di attività che potrebbero rappresentare un problema per te. Per favore, dicci quanto queste 
      attività possano aver rappresentato un problema durante la scorsa settimana/lo scorso mese, indicando il punteggio più 
      adatto come segue: <br>
      <b>0 = non è mai un problema; <br>
      1 = raramente è un problema; <br>
      2 = qualche volta è un problema; <br>
      3 = spesso è un problema;  <br>
      4 = sempre è un problema.  <br> </b>
      Non vi è mai una risposta giusta o sbagliata, e se la domanda non ti è chiara chiedi un chiarimento. 
      Nella scorsa settimana/scorso mese quanto è stato un problema per te: <br>
    
    <table>
      <!-- 2 sezione-->
      <tr  style="background-color:dodgerblue; color:white ;font-size:0.7rem; text-align: center;">
      <th colspan="2">Salute e attività fisica(Problemi con..) </th>
      <th>Mai</th> 
      <th>Raramente</th>
      <th>Qualche volta</th>
      <th>Spesso</th>
      <th>Sempre</th>
    </tr>
    <tr >
      <td>1 </td>
      <td>Il camminare per più di un isolato</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
    </tr>
    <tr >
      <td>2 </td>
      <td>Il correre</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>3 </td>
      <td>Fare sport o attività fisica</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>4 </td>
      <td>Sollevare pesi</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>5 </td>
      <td>Fare il bagno o la doccia senza aiuto </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>6 </td>
      <td>Stare male o avere dolore</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>7 </td>
      <td>Fare faccende o attività casalinghe</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>8 </td>
      <td>Sentirsi stanco </td> <td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <!-- 2 sezione-->
    <tr  style="background-color:rgba(30, 143, 255, 0.803); color:white ;font-size:0.7rem; text-align: center;">
      <th colspan="2">Stato d'animo (Problemi con..) </th>
      <th>Mai</th> 
      <th>Raramente</th>
      <th>Qualche volta</th>
      <th>Spesso</th>
      <th>Sempre</th>
    </tr>
    <tr >
      <td>1 </td>
      <td>Sentirsi spaventato o preoccupato</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
    </tr>
    <tr >
      <td>2 </td>
      <td>Essere triste</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>3 </td>
      <td>Sentirsi arrabbiato</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>4 </td>
      <td>Avere difficoltà a dormire</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>5 </td>
      <td>Sentirsi preoccupato per ciò che potrà accadermi </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <!-- 3 sezione-->
    <tr  style="background-color:rgba(30, 143, 255, 0.803); color:white ;font-size:0.7rem; text-align: center;">
      <th colspan="2">Relazione con gli altri (Problemi con..) </th>
      <th>Mai</th> 
      <th>Raramente</th>
      <th>Qualche volta</th>
      <th>Spesso</th>
      <th>Sempre</th>
    </tr>
    <tr >
      <td>1 </td>
      <td>Relazionarmi con i miei coetanei</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
    </tr>
    <tr >
      <td>2 </td>
      <td>I miei coetanei non vogliono socializzare</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>3 </td>
      <td>I miei coetanei si prendono gioco di me</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>4 </td>
      <td>Non riesco a fare cose che i miei coetanei fanno</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
    <tr >
      <td>5 </td>
      <td>E' difficile tenere il passo dei miei coetanei </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
    </tr>
        <!-- 4 sezione-->
        <tr  style="background-color:rgba(30, 143, 255, 0.803); color:white ;font-size:0.7rem; text-align: center;">
          <th colspan="2">Studio o lavoro (Problemi con..) </th>
          <th>Mai</th> 
          <th>Raramente</th>
          <th>Qualche volta</th>
          <th>Spesso</th>
          <th>Sempre</th>
        </tr>
        <tr >
          <td>1 </td>
          <td>E' difficile prestare attenzione a scuola (o al lavoro)</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
        </tr>
        <tr >
          <td>2 </td>
          <td>Dimenticare le cose da fare</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>3 </td>
          <td>Far fatica a tenere il passo con la scuola (o il lavoro)</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>4 </td>
          <td>Non vado a scuola (o al lavoro) perché non mi sento bene </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>5 </td>
          <td>Non vado a scuola (o al lavoro) per andare in ospedale o dal mio 
            medico  </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
    </table>
    
    
    </div>

    <div *ngIf="controlloTabs=== 'cali'">
      <h3>Child Activity Limitations Interview (CALI 9)  </h3>
      <p>
        Questa scala è finalizzata a valutare la tua attività fisica durante la scorsa settimana/lo scorso 
        mese. Di seguito sono elencate nove affermazioni che descrivono quanto facile/difficile sia 
        compiere alcune azioni/compiti. <br>
        <b>0 = facile; <br> 1 = un po’ faticoso; <br> 2 = piuttosto faticoso;<br> 3 = molto faticoso;<br> 4 = estremamente 
        faticoso </b>
      </p>
      <table>
        <tr style="background-color:dodgerblue; color:white ;font-size:0.7rem; text-align: center;">  
          
          <th colspan="2"> Domanda</th>
          <th> Facile </th>
          <th> Un po' faticoso</th>
          <th> Piuttosto faticoso</th>
          <th> Molto faticoso</th>
          <th> Estremamente faticoso</th>
        </tr>
        <tr >
          <td>1 </td>
          <td>Attività fisica</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
        </tr>
        <tr >
          <td>2 </td>
          <td>Fare qualcosa con gli amici</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>3 </td>
          <td>Camminata veloce</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>4 </td>
          <td>Mangiare regolarmente</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>5 </td>
          <td>Dormire regolarmente </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>6 </td>
          <td>Fare i compiti scolastici</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>7 </td>
          <td>Camminare per 1-2 isolati</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>8 </td>
          <td>Andare in autobus o automobile </td> <td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
        <tr >
          <td>9 </td>
          <td>Stare sveglio tutto il giorno (senza sonnellini o riposi) </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
        </tr>
      </table>
    </div>

    <div *ngIf="controlloTabs=== 'yapfaq'">
      <h3>YAPFAQ</h3>
      <p>
        Dopo l’intervento alcune attività posso risultare difficili. Vorremmo che tu ripensassi a quanto 
        difficile è stato svolgere o potrebbe essere stato svolgere una certa attività (oggi o durante la 
        scorsa settimana/mese). Assegna un punteggio come di seguito. 
       <b>0 = facile; <br> 1 = un po’ faticoso;<br> 2 = piuttosto faticoso;<br> 3 = molto faticoso;<br> 4 = estremamente 
        faticoso  </b>      </p>
        <table >
          <tr style="background-color:dodgerblue; color:white ;font-size:0.7rem; text-align: center;">  
            <th colspan="2"> Domanda</th>
            <th> Facile </th>
            <th> Un po' faticoso</th>
            <th> Piuttosto faticoso</th>
            <th> Molto faticoso</th>
            <th> Estremamente faticoso</th>
          </tr>
          <tr >
            <td>1 </td>
            <td>Fare la doccia o il bagno</td> <td> 0</td> <td> 1</td> <td> 2</td> <td> 3</td> <td> 4</td>
          </tr>
          <tr >
            <td>2 </td>
            <td>Indossare o cambiare i vestiti</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>3 </td>
            <td>Lavarmi </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>4 </td>
            <td>Alzarmi dal letto</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>5 </td>
            <td>Andare in giro per la stanza </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>6 </td>
            <td>Lavarmi i capelli </td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>7 </td>
            <td>Uscire dalla stanza</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>8 </td>
            <td>Essere pronto a far delle cose senza necessità di riposarmi </td> <td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>9 </td>
            <td>Infilarmi i pantaloni</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>10  </td>
            <td>Fare i compiti o delle faccende domestiche</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr >
            <td>11  </td>
            <td>Girarmi nel letto</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
          <tr>
            <td>12  </td>
            <td>Infilarmi o cambiare la maglietta</td><td> 0</td><td> 1</td><td> 2</td><td> 3</td><td> 4</td>
          </tr>
        </table>
 
    </div>
  </div>

</ion-content>
<!-- <ion-tabs div *ngIf="controlloAppendice">
  <ion-tab-bar>
    <ion-tab-button (click)="nrs()" >
      <ion-label>NRS</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="pedsql()" >
      <ion-label>PedsQL</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="cali()" >
      <ion-label>Cali</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="yapfaq()" >
      <ion-label>YAPFAQ</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>-->
